---
permalink: /404.html
layout: null
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404 – not even this page made it</title>
    {% seo %}

    <link rel="icon" type="image/png" href="{{ site.icon_img | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="top-bar">
        <div class="language-dropdown">
          <button id="language-button" aria-haspopup="true" aria-expanded="false">languages</button>
          <div class="dropdown-menu">
            <a href="https://scrotiegg.fun">english</a>
            <a href="/es/home.html">español</a>
            <a href="/pt/home.html">português</a>
            <a href="/fr/home.html">français</a>
            <a href="/de/home.html">deutsch</a>
            <a href="/ru/home.html">русский</a>
            <a href="/ar/home.html">العربية</a>
            <a href="/ko/home.html">한국어</a>
            <a href="/zh/home.html">中文</a>
            <a href="/ja/home.html">日本語</a>
          </div>
        </div>

        <button id="mobile-menu-toggle" aria-label="Open menu">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <div id="sidebar">
          <ul class="toc-box">
            <li><a href="home.html#manifesto">manifesto</a></li>
            <li><a href="home.html#vision">vision</a></li>
            <li><a href="home.html#origin">origin</a></li>
            <li><a href="home.html#tokenomics">tokenomics</a></li>
            <li><a href="home.html#roadmap">roadmap</a></li>
            <li><a href="home.html#music">music</a></li>
            <li><a href="home.html#nft">nft</a></li>
            <li><a href="home.html#faq">faq</a></li>
            <li><a href="home.html#disclaimer">disclaimer</a></li>
          </ul>
        </div>
      </div>

      <div id="about">
        <div class="profile-zone">
          <img class="profile-img" src="{{ site.profile_img | prepend: site.baseurl }}" alt="hairy egg photo" />
          <ul class="personal-info">
            {% if site.x_username %}
              <li><a href="https://x.com/{{ site.x_username }}"><img src="{{ '/assets/img/x.svg' | prepend: site.baseurl }}" alt="" /><div><span>where dreams go to die</span></div></a></li>
            {% endif %}
            {% if site.discord_username %}
              <li><a href="https://discord.gg/{{ site.discord_username }}"><img src="{{ '/assets/img/discord.svg' | prepend: site.baseurl }}" alt="" /><div><span>absolute chaos</span></div></a></li>
            {% endif %}
            {% if site.instagram_username %}
              <li><a href="https://instagram.com/{{ site.instagram_username }}"><img src="{{ '/assets/img/instagram.svg' | prepend: site.baseurl }}" alt="" /><div><span>pictures of failure</span></div></a></li>
            {% endif %}
            {% if site.tiktok_username %}
              <li><a href="https://tiktok.com/@{{ site.tiktok_username }}"><img src="{{ '/assets/img/tiktok.svg' | prepend: site.baseurl }}" alt="" /><div><span>viral disasters</span></div></a></li>
            {% endif %}
            {% if site.reddit_username %}
              <li><a href="https://reddit.com/user/{{ site.reddit_username }}"><img src="{{ '/assets/img/reddit.svg' | prepend: site.baseurl }}" alt="" /><div><span>meme laboratory</span></div></a></li>
            {% endif %}
            {% if site.youtube_username %}
              <li><a href="https://youtube.com/@{{ site.youtube_username }}"><img src="{{ '/assets/img/youtube.svg' | prepend: site.baseurl }}" alt="" /><div><span>tutorials that never work</span></div></a></li>
            {% endif %}
            {% if site.github_username %}
              <li><a href="https://github.com/{{ site.github_username }}"><img src="{{ '/assets/img/github.svg' | prepend: site.baseurl }}" alt="" /><div><span>bad ideas repository</span></div></a></li>
            {% endif %}
            {% if site.facebook_username %}
              <li><a href="https://facebook.com/{{ site.instagram_username }}"><img src="{{ '/assets/img/facebook-2.svg' | prepend: site.baseurl }}" alt="" /><div><span>where your mom invests</span></div></a></li>
            {% endif %}
            {% if site.threads_username %}
              <li><a href="https://threads.net/@{{ site.threads_username }}"><img src="{{ '/assets/img/threads.svg' | prepend: site.baseurl }}" alt="" /><div><span>no thread of hope</span></div></a></li>
            {% endif %}
            {% if site.spotify_username %}
              <li><a href="https://audius.co/scrotiegg/album/scrotiegg"><img src="{{ '/assets/img/spotify.svg' | prepend: site.baseurl }}" alt="" /><div><span>sad tunes</span></div></a></li>
            {% endif %}
          </ul>
        </div>

        <div class="name-zone">
          <h1>scrotiegg</h1>
          <h2 id="scrotiegg-subtitle">not found, just lost</h2>
        </div>
      </div>

      <div class="card-section" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
        <h1 class="main404" style="font-size: 6rem; color: var(--theme3-dark);">404</h1>
        <p><strong>not even this page made it</strong></p>
        <p>some failures aren’t planned<br>this page doesn’t exist<br>maybe it never did<br>maybe it was never meant to</p>
        <p><a href="https://scrotiegg.fun" style="text-decoration: underline; color: var(--theme4-dark); font-weight: 600;">go back to where things go wrong on purpose</a></p>
      </div>

      <div id="footer">
        <span>copyright © 2025 - made with regret by devscrot</span>
      </div>
    </div>

    <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
  
  </body>
</html>
