<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>scrotiegg</title>
    {% seo %}

    <link rel="icon" type="image/png" href="{{ site.icon_img | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  </head>

  <body>
    {% assign meta = "" | split: "" %}
    {% for yml_file in site.data %}
      {% assign meta = meta | push: yml_file[1] %}
    {% endfor %}
    {% assign meta = meta | sort: 'listing-order' %}

    <div class="container">
      <div class="top-bar">
        <div class="language-dropdown">
          <button id="language-button" aria-haspopup="true" aria-expanded="false">languages</button>
          <div class="dropdown-menu">
            <a href="https://scrotiegg.fun">english</a>
            <a href="/lang/pt.html">português</a>
            <a href="es.html">español</a>
            <a href="fr.html">français</a>
            <a href="ru.html">русский</a>
            <a href="ko.html">한국어</a>
            <a href="zh.html">中文</a>
            <a href="jp.html">日本語</a>
          </div>
        </div>

        <button id="mobile-menu-toggle" aria-label="Open menu">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <div id="sidebar">
          <ul class="toc-box">
            <!-- Adicione os itens aqui, se aplicável -->
          </ul>
        </div>
      </div>

      <div id="about">
        <div class="profile-zone">
          <img class="profile-img" src="{{ site.profile_img | prepend: site.baseurl }}" alt="hairy egg photo" />
          <ul class="personal-info">
            {% if site.x_username %}
              <li>
                <a aria-label="X" href="https://x.com/{{ site.x_username }}">
                  <img src="{{ '/assets/img/x.svg' | prepend: site.baseurl }}" alt="" aria-hidden="true" />
                  <div><span>where dreams go to die</span></div>
                </a>
              </li>
            {% endif %}

            {% if site.discord_username %}
              <li>
                <a aria-label="Discord" href="https://discord.gg/{{ site.discord_username }}">
                  <img src="{{ '/assets/img/discord.svg' | prepend: site.baseurl }}" alt="" aria-hidden="true" />
                  <div><span>absolute chaos</span></div>
                </a>
              </li>
            {% endif %}

            {% if site.instagram_username %}
              <li>
                <a aria-label="Instagram" href="https://instagram.com/{{ site.instagram_username }}">
                  <img src="{{ '/assets/img/instagram.svg' | prepend: site.baseurl }}" alt="" aria-hidden="true" />
                  <div><span>pictures of failure</span></div>
                </a>
              </li>
            {% endif %}

            {% if site.tiktok_username %}
              <li>
                <a aria-label="TikTok" href="https://tiktok.com/@{{ site.tiktok_username }}">
                  <img src="{{ '/assets/img/tiktok.svg' | prepend: site.baseurl }}" alt="" aria-hidden="true" />
                  <div><span>viral disasters</span></div>
                </a>
              </li>
            {% endif %}

            {% if site.reddit_username %}
              <li>
                <a aria-label="Reddit" href="https://reddit.com/user/{{ site.reddit_username }}">
                  <img src="{{ '/assets/img/reddit.svg' | prepend: site.baseurl }}" alt="" aria-hidden="true" />
                  <div><span>meme laboratory</span></div>
                </a>
              </li>
            {% endif %}

            {% if site.youtube_username %}
              <li>
                <a aria-label="YouTube" href="https://youtube.com/@{{ site.youtube_username }}">
                  <img src="{{ '/assets/img/youtube.svg' | prepend: site.baseurl }}" alt="" aria-hidden="true" />
                  <div><span>tutorials that never work</span></div>
                </a>
              </li>
            {% endif %}

            {% if site.github_username %}
              <li>
                <a aria-label="GitHub" href="https://github.com/{{ site.github_username }}">
                  <img src="{{ '/assets/img/github.svg' | prepend: site.baseurl }}" alt="" aria-hidden="true" />
                  <div><span>bad ideas repository</span></div>
                </a>
              </li>
            {% endif %}

            {% if site.facebook_username %}
              <li>
                <a aria-label="Facebook" href="https://facebook.com/{{ site.instagram_username }}">
                  <img src="{{ '/assets/img/facebook-2.svg' | prepend: site.baseurl }}" alt="" aria-hidden="true" />
                  <div><span>where your mom invests</span></div>
                </a>
              </li>
            {% endif %}

            {% if site.threads_username %}
              <li>
                <a aria-label="Threads" href="https://threads.net/@{{ site.threads_username }}">
                  <img src="{{ '/assets/img/threads.svg' | prepend: site.baseurl }}" alt="" aria-hidden="true" />
                  <div><span>no thread of hope</span></div>
                </a>
              </li>
            {% endif %}

            {% if site.spotify_username %}
              <li>
                <a aria-label="Spotify" href="https://audius.co/scrotiegg/album/scrotiegg">
                  <img src="{{ '/assets/img/spotify.svg' | prepend: site.baseurl }}" alt="" aria-hidden="true" />
                  <div><span>sad tunes</span></div>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>

        <div class="name-zone">
          <h1>scrotiegg</h1>
          <h2 id="scrotiegg-subtitle">no brains, just balls</h2>
        </div>
      </div>
      

      <div class="buy-button-zone"></div>

      
      <div id="contents">
        <ul>
          {% for subject in meta %}
            <div class="card-section">
            <li class="subject" id="{{ subject.subject }}">
              <h2 class="subject-name">
                {%- case subject.subject | downcase -%}
                  {%- when "manifesto" -%}manifesto
                  {%- when "vision" -%}vision
                  {%- when "origin" -%}origin
                  {%- when "tokenomics" -%}tokenomics
                  {%- when "roadmap" -%}roadmap
                  {%- when "music" -%}music
                  {%- when "nft" -%}nft
                  {%- when "faq" -%}faq
                  {%- when "disclaimer" -%}disclaimer
                  {%- else -%}{{ subject.subject }}
                {%- endcase -%}
              </h2>
              <ul>
                {% for member in subject.contents %}
                  <li class="item">
                    <div class="content-header">
                      {{ member.title | markdownify }}
                      {% if member.date %}
                        <span class="content-date">
                          <img src="{{ '/assets/img/calendar.webp' | prepend: site.baseurl }}" alt="date of disappointment" />
                          {{ member.date }}
                        </span>
                      {% endif %}
                    </div>
                    {% for item in member %}
                      {% if item[0] != "title" and item[0] != "date" %}
                        {% if item[1].first %}
                          <ul>
                            {% for subitem in item[1] %}
                              <li class="subitem">{{ subitem | markdownify }}</li>
                            {% endfor %}
                          </ul>
                        {% else %}
                          {{ item[1] | markdownify }}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </li>
                {% endfor %}
              </ul>
            </li>
            </div>
          {% endfor %}
        </ul>
      </div>
       
      <div class="buy-button-zone final"></div>
      
      <div id="footer">
        <span>copyright © 2025 - made with regret by devscrot</span>
      </div>
    </div>

    <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
   
  </body>
</html>
