<!DOCTYPE html>
<html lang="en">
{% assign meta = "" | split: "" %}
{% for yml_file in site.data %}
  {% assign meta = meta | push:yml_file[1] %}
{% endfor %}
{% assign meta = meta | sort: 'listing-order' %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>scrotiegg – failure is the utility</title>
  {% seo %}

  <link rel="icon" type="image/png" href="{{ site.icon_img | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ site.icon_img | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
  <div id="sidebar">
    <ul class="toc-box"></ul>
  </div>
  <div id="about">
    <div class="profile-zone">
      <img class="profile-img" src="{{ site.profile_img | prepend: site.baseurl }}" alt="hairy egg photo">
      <ul class="personal-info">
        {% if site.phone_number %}
        <li>
          <a aria-label="My Twitter" href="https://x.com/{{ site.twitter_username }}">
            <img src="{{ '/assets/img/x.svg' | prepend: site.baseurl }}" alt="where dreams go to die">
            <div><span>where dreams go to die</span></div>
          </a>
        </li>
        {% endif %}
        {% if site.address %}
        <li>
          <a aria-label="My Address" href="https://www.google.com/maps/search/{{ site.address }}">
            <img src="{{ '/assets/img/location-dot.svg' | prepend: site.baseurl }}" alt="Probably lost">
            <div><span>probably lost</span></div>
          </a>
        </li>
        {% endif %}
        {% if site.email %}
        <li>
          <a aria-label="My Email" href="mailto:{{ site.email }}">
            <img src="{{ '/assets/img/envelope.svg' | prepend: site.baseurl }}" alt="Barely checked mailbox">
            <div><span>contact, but we rarely reply</span></div>
          </a>
        </li>
        {% endif %}
        {% if site.linkedin_username %}
        <li>
          <a aria-label="My LinkedIn" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
            <img src="{{ '/assets/img/linkedin.svg' | prepend: site.baseurl }}" alt="Unemployable">
            <div><span>nobody hired us</span></div>
          </a>
        </li>
        {% endif %}
        {% if site.github_username %}
        <li>
          <a aria-label="My Github" href="https://github.com/{{ site.github_username }}">
            <img src="{{ '/assets/img/github.svg' | prepend: site.baseurl }}" alt="Bad ideas repository">
            <div><span>bad ideas repository</span></div>
          </a>
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li>
          <a aria-label="My Twitter" href="https://twitter.com/{{ site.twitter_username }}">
            <img src="{{ '/assets/img/twitter.svg' | prepend: site.baseurl }}" alt="Where dreams go to die">
            <div><span>where dreams go to die</span></div>
          </a>
        </li>
        {% endif %}
        {% if site.instagram_username %}
        <li>
          <a aria-label="My Instagram" href="https://www.instagram.com/{{ site.instagram_username }}">
            <img src="{{ '/assets/img/instagram.svg' | prepend: site.baseurl }}" alt="Pictures of failure">
            <div><span>pictures of failure</span></div>
          </a>
        </li>
        {% endif %}
        {% if site.facebook_username %}
        <li>
          <a aria-label="My Facebook" href="https://www.facebook.com/{{ site.facebook_username }}">
            <img src="{{ '/assets/img/facebook.svg' | prepend: site.baseurl }}" alt="Where your mom invests">
            <div><span>where your mom invests</span></div>
          </a>
        </li>
        {% endif %}
        {% if site.youtube_username %}
        <li>
          <a aria-label="My Youtube" href="https://www.youtube.com/{{ site.youtube_username }}">
            <img src="{{ '/assets/img/youtube.svg' | prepend: site.baseurl }}" alt="Useless tutorials">
            <div><span>tutorials that never work</span></div>
          </a>
        </li>
        {% endif %}
        {% if site.blog_url %}
        <li>
          <a aria-label="My Blog" href="{{ site.blog_url }}">
            <img src="{{ '/assets/img/house.svg' | prepend: site.baseurl }}" alt="404 guaranteed">
            <div><span>404 guaranteed</span></div>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="name-zone">
      <h1>scrotiegg</h1>
      <h2>no brains, just balls</h2>
    </div>
  </div>
  <div id="contents">
    <ul>
      {% for subject in meta %}
        <li class="subject" id="{{ subject.subject }}">
          <h2 class="subject-name">
            {%- case subject.subject | downcase -%}
              {%- when "manifesto" -%}manifesto of defeat
              {%- when "tokenomics" -%}numbers that don’t add up
              {%- when "roadmap" -%}future disappointments
              {%- when "team" -%}who to blame
              {%- when "contact" -%}last resort
              {%- when "blog" -%}bad advice
              {%- else -%}{{ subject.subject }}
            {%- endcase -%}
          </h2>
          <ul>
              {% for member in subject.contents %}
              <li class="item">
                  <div class="content-header">
                    {{ member.title | markdownify }}
                    {% if member.date %}
                      <span class="content-date">
                        <img src="{{ '/assets/img/calendar.webp' | prepend: site.baseurl}}" alt="date of disappointment">
                        {{ member.date }}
                      </span>
                    {% endif %}
                  </div>
                  {% for item in member %}
                    {% if item[0] != "title" and item[0] != "date" %}
                      {% if item[1].first %}
                        <ul>
                          {% for subitem in item[1] %}
                          <li class="subitem">
                            {{ subitem | markdownify }}
                          </li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        {{ item[1] | markdownify }}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
              </li>
              {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
  </div>
  <div id="footer">
    <span>
      Copyright © 2025 | made with regret by scrotum sapiens
    </span>
  </div>
</body>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
</html>
